@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
 

body
{font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;

}

header  p {
  
    background-color: aquamarine;
    margin: 1%;

}

header .entete
 {display: flex;
    background-color: brown;
    margin: 10px;
    flex-direction: row;
    justify-content: end;
     ;
 }

 
 .boutonrecherche {
    display: flex;
    justify-content: center;
    width: 900px;
    background-color: brown;


  


}

.principal
{display: flex;
    background-color: rgb(157, 157, 174);
    justify-content: center;



}
